@using AzureTraining.Web.Models
@using AzureTraining.Core

@model PagedList.IPagedList<UserLog>

@{
    var page = Model.PageNumber;
    var documentName = ViewBag.documentName as string;
    var orderByDate = (bool)ViewBag.orderByDate;  
 }

<table class="table table-bordered">
    <thead>
        <tr>
            <th>User</th>
            <th>Message</th>
            <th>Document Name</th>
            <th>@Html.ActionLink("Date", MVC.Logs.Index(1, documentName, true))</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>
                    @log.User
                </td>
                <td>
                    @log.Message
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(log.DocumentName))
                    {
                        @Html.ActionLink(log.DocumentName, MVC.Logs.Index(1, log.DocumentName, orderByDate))
                    }
                </td>
                <td>
                    @log.Date
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    <ul>
        @for (var _page = 1; _page <= Model.PageCount; _page++)
        {
            <li>
                @if (_page != @Model.PageNumber)
                {
                    Html.ActionLink(_page.ToString(), MVC.Logs.ActionNames.Index, new { page = _page, documentName = documentName, orderByDate = orderByDate })
                }
                else
                {
                    Html.Raw(_page);
                }
            @Html.Raw(" ");
            </li>
        }
    </ul>
</div>
