@using AzureTraining.Web.Helpers
@model AzureTraining.Web.Models.DocumentsListViewModel


<ul class="thumbnails">
@foreach (var doc in Model.Documents)
{
    <li class="span4">
        <div class="thumbnail">
            <div class="hero-unit word-wrap">
                <h3>@doc.Name</h3>
                <p>@doc.Preview</p>
                <p>
                    <a class="btn btn-primary btn-large" href="@doc.Url">Download</a>
                    @Html.ActionLink("View", MVC.Documents.View(@doc.DocumentId), new { @class = "btn btn-primary btn-large" })
                    @if (DocRolesHelper.IsCurrentUserOwnerOfDocument(doc))
                    {
                        if (doc.IsShared)
                        {
                            @Html.ActionLink("Protect", MVC.Documents.ChangeViewPolicy(doc.DocumentId, false), new { @class = "btn btn-primary btn-large" }) 
                        }
                        else
                        {
                            @Html.ActionLink("Share", MVC.Documents.ChangeViewPolicy(@doc.DocumentId, true), new { @class = "btn btn-primary btn-large" })
                        }
                    }
                </p>
            </div>
        </div>
    </li>
}
</ul>
