@using AzureTraining.Web.Helpers
@model AzureTraining.Web.Models.DocumentsListViewModel


<ul class="thumbnails">
@foreach (var doc in Model.Documents)
{
    <li class="span4">
        <div class="thumbnail">
            <div class="hero-unit word-wrap">
                <h3>@doc.Name</h3>
                <p>@doc.Preview</p>
                <p>
                    <div class="btn-group">
                        <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="@doc.OriginFileUrl">Downdolad</a></li>
                            <li>@Html.ActionLink("View", MVC.Documents.View(@doc.DocumentId))</li>
                            <li>
                                @if (DocRolesHelper.IsCurrentUserOwnerOfDocument(doc))
                                      {
                                          if (doc.IsShared)
                                          {
                                              @Html.ActionLink("Protect", MVC.Documents.ChangeViewPolicy(doc.DocumentId, false)) 
                                          }
                                          else
                                          {
                                              @Html.ActionLink("Share", MVC.Documents.ChangeViewPolicy(@doc.DocumentId, true))
                                          }
                                      }
                            </li>  
                        </ul>
                    </div>
                </p>
            </div>
        </div>
    </li>
}
</ul>
